.category {
    padding: 0;
    flex: 0 1 15rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.category span {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: black;
}

.category__wrapper {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #bdbdbd;
    border-radius: 50%;
    max-width: 15rem;
    max-height: 15rem
}

.category__image {
    visibility: hidden;
    width: 100%;
    height: auto;
}